{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap" rel="stylesheet">
    <title>First APP</title>
</head>
<body>
    <div class="head">    
        <header>   
            <a class="logo" href="{% url 'home' %}">Team Blog</a>
            <form action="">
                <input class="nav-search" type='search' placeholder="Search..." autocomplete="off">
                <button class="btn-search" type="submit">Search</button>
            </form> 
            <nav> 
                <ul>
                    {% if user.is_active %}
                        <li>Hello, {{ user.username }}!</li>
                        <li><a href="#">New Post</a></li>
                        <li><a href="#">Log Out</a></li>                                      
                    {% else %}
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign Up</a></li>
                     {% endif %}
                 </ul>
             </nav>
        </header>
    </div>
    {% block content %}
    
    {% endblock content %}

    
    
</body>
</html>